# === Drupal / MariaDB ===
# IMPORTANTE: usar SOLO caracteres alfanumericos y guion_bajo en passwords
# (Docker Compose interpola el simbolo $ y rompe la conexion).

DB_HOST=mariadb
DB_PORT=3306
DB_NAME=ulatina
DB_USER=ulatina
DB_PASSWORD=cambia_esto_alfanumerico
DB_ROOT_PASSWORD=cambia_esto_root_alfanumerico

# Genera un valor con:  openssl rand -hex 32
DRUPAL_HASH_SALT=genera_un_hash_de_64_caracteres
